body{
    background-color: rgb(187, 237, 197);
}

.common{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding: 5px;
}
.header{
    background-color: rgb(203, 166, 237);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 75px;
    text-align: center;
    font-size: xxx-large;
}

.body{
     position: relative;
    color: black;
    /* background-color: rgb(150, 116, 62); */
    left: 15px;
    width: 1050px;
    top: 82px;
    border: 2px solid black;
   
}

.right{
position: absolute;
top: 90px;
right: 15px;
width: 295px;
border: 2px solid black;
height: fit-content;
}

.footer{
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
}

p{
    text-indent: 30px;
}
.images{
    text-align: center;
}
.stats {
    clear: both;
    position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 60px auto;
    text-align: center;
}

.tableauPlaceholder {
    position: static !important;
    margin: 0 auto;
}


